{
    "board": {
        "rows": 6,
        "cols": 7
    },
    "needed_to_win": 4,
    "games_to_play": 1000000,
    "saving_rate": 1000,
    "learning_rate": 0.1,
    "discount_factor": 1,
    "estimated_optimal_future_value": "best_known",
    "boltzmann_temperature": 10,
    "rewards": {
        "win": 1,
        "loss": -1,
        "tie": 0,
        "each_move": -0.01
    },
    "neural_storage": {
        "hidden_neurons": [10, 10],
        "epochs": 1
    }
}